<h2>
  <%= _('Your <strong>Right to Know</strong>') %>
</h2>
<p>
  <%= _('Every citizen has the right to access information held by public authorities.' \
        '<strong>By law, they have to respond</strong>. <a href={{help_url}}>' \
        'Find out more about Access to Information.</a>',
        :help_url => help_about_url) %>
</p>
