$main_menu-mobile_menu_cutoff: 58em;
$row-width: 64em;
$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;

// Specify the filename and dimensions of your logo file here
$logo-filename: 'logo.png';
$logo-highdpi-filename: 'logo@2.png'; //Should be at least 2x the size, in the same proportions
$logo-width: 250px;
$logo-height: 75px;
$logo-mobile-width: 200px;
$logo-mobile-height: 27px;

$color_black: #333333;
$color_blue: #2D62B3;
$color_dark_grey: #6c6b68;
$color_green: #32A22F;
$color_light_grey: #C8C9CB;
$color_mid_grey: #a1a2a6;
$color_off_white: #f3f1eb;
$color_orange: #f4a140;
$color_purple: #5c377f;
$color_red: #e04b4b;
$color_sand: #f3f1eb;
$color_violet: #a94ca6;
$color_white: #ffffff;
$color_yellow: #F2DF1B;

$color_neutral_light: $color_sand;
$color_neutral_dark: $color_black;
$color_primary: $color_blue;
$color_secondary: $color_yellow;

$body-bg: $color_neutral_light;

$body-font-color: $color_neutral_dark;
$link-color: $color_primary;
$action-color: $color_green;
$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$form_input-bg: $color_white;

$button-bg: $color_green;
$button-color: $color_white;

$status-success: darken($color_green, 18%);
$status-failure: darken($color_red, 10%);
$status-pending: darken($color_orange, 28%);

$notice-color: $color_green;
$error-color: $color_red;
$action-color: $color_orange;

$banner_inner_bg: $color_light_grey;
$topnav_bg: $color_mid_grey;
