@import "foundation/components/block-grid";

/* Footer layout */
.footer {
  @include grid-row;
  padding-top: 10px;
  margin-top: 50px;
  max-width: 100%;
}

.footer-inner {
  margin: 0 auto;
  max-width: 64em;
}

#footer-nav {

  @include grid-column(12);

  ul {
    padding: 0;
    list-style: none outside none;
  }

  /* Three elements in footer - so a 3 element block grid */
  @include respond-min($main_menu-mobile_menu_cutoff) {
    >ul {
      @include block-grid(3);
      font-size:0.85em;
      li {
        text-align: left;
      }
    }
    @include ie8{
       footer-nav > ul > li:nth-child(3n+1) {
           padding-left: 0em;
           padding-right: 1.25em;
         }
         #footer-nav > ul > li:nth-child(3n+2) {
           padding-left: 0.625em;
           padding-right: 0.625em;
         }
         #footer-nav > ul > li:nth-child(3n) {
           padding-left: 1.25em;
           padding-right: 0em;
         }
     }

    img {
      display: inherit;
      padding: 5px;
    }
  }
}
