/* General styling of nav menu items */
%menu-item {
  text-decoration: none;
  background-color: $topnav_bg;
  color: transparentize($color_white, 0.2);
  @include ie8 {
    color: $color_white;
  }
  transition: background-color 0.5s ease-out;

  &:hover{
      background-color: darken($topnav_bg, 5%);
      color: transparentize($color_white, 0);
  }

}

/* Selected menu item */
%selected-menu-item {
  font-weight: bold;
  color: darken($color_sobanukirwa_palegrey, 15%);
  background-color: $color_sand;
  &:hover{
      background-color: $color_sand;
  }
}

/* Styling if not part of the main menu on larger screens */
%sub-menu-item {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    background-color: $color_sobanukirwa_palegrey;
    color: $color_white;
    &:hover{
        background-color: $color_sobanukirwa_palegrey;
        color: transparentize($color_white, 0);
    }
  }
}

/* General styles */
body{
  background-color: $body-bg;
  color: $body-font-color;
}

.entirebody {
  font-family: $font-family;
}

a{
  color: $link-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $color_black;
  font-family: $font-family;
}

/* Let h1s be a little smaller on small screens */
@media( max-width: $main_menu-mobile_menu_cutoff ){
  h1 {
    font-size: 2em;
  }
}

/* Square corners for text type inputs */
form input[type="text"],
form input[type="password"],
form input[type="search"],
form input[type="email"],
form input[type="url"],
form input[type="tel"],
form input[type="number"] {
    border-radius: 0;
    background-color: $color_white;
    /* Set a fixed height for text inputs in older IE 8 */
    @include ie8{
        height: 2.3125em;
    }
    /* Do the same in px for IE < 7 */
    @include lte-ie7{
        height: 22px;
    }
}

input.use-datepicker[type=text] {
  width: 130px;
  background:image-url('calendar.png') no-repeat 100px 5px $color_white;
}

form input[type=submit], a.link_button_green, a.link_button_green_large {
  text-decoration: none;
  color: $button-color;
  background-color: darken($button-bg, 5%);
  display: inline-block;
  cursor: pointer;
  /* This style is expressed for all borders to avoid triggering an IE9 border rendering bug */
  border-style: solid; border-color: darken($button-bg, 15%); border-width: 0 0 4px 0;
  border-radius: 0;
  padding: 3px 7px;
  line-height: normal;
  font-size: 1.1rem;
  /* Same height as form elements */
  height: 2.3125rem;
  @include ie8 {
     height: 2.3125em;
     font-size: 1.1em;
   }
  vertical-align: top;
  &:focus, &:hover{
    text-decoration: none;
    background-color: darken($button-bg, 10%);
    border-bottom: 4px solid darken($button-bg, 20%);
  }
}

@include lte-ie7{

  a.link_button_green, a.link_button_green_large {
    padding: 0 7px;
    height: 31px;
    font-weight: bold;
  }

  form input[type=submit] {
    padding: 0;
    height: 35px;
  }
}

a.link_button_green_large {
  font-size: 2.2rem;
  height: inherit;
  padding: 0 10px;
  @include ie8 {
     font-size: 2.2em;
     height: 66px;
   }
   @include lte-ie7 {
     height: 50px;
   }
}

/* Popups */

.popup {
  background-color: $color_sobanukirwa_darksand;
  border: 3px solid $color_sobanukirwa_darkgreen;
}


/* Header */

/* Add green/yellow/blue stripes before header */
body:before {
  background: image-url('banner-stripe.png') repeat top center #333333;
  background-size: 100%;
  content: '';
  display: block;
  height: 8px;
  width: 100%;
  @media( max-width: $main_menu-mobile_menu_cutoff ){
    height: 4px;
  }
}

#banner_inner {
  background-color: $color_sobanukirwa_palegrey;
}

#topnav {
  background-color: darken($color_sobanukirwa_palegrey, 15%);
}

#navigation{
  border-bottom: none;
  a {
    @extend %menu-item;
  }
  /* Show which section is currently selected */
  li.selected a{
    @extend %selected-menu-item;
  }

  /* Vertically align the search box */
  #navigation_search{
    input{
      margin-top:0.313em;
      margin-bottom:0.313em;
      height: 1.875em;
      @include ie8 {
        height: 33px;
        font-size: 1.1em;
        padding: 0;
      }
    }
  }

  /* Vertically align the label image for older IE*/
  @include ie8 {
    img {
      margin-top: 0.626em;
    }
  }

  #navigation_search_button{
    background-color: darken($color_sobanukirwa_palegrey, 25%);
    border: none;
    transition: all 0.3s ease-out;
    color: $color_sobanukirwa_lightgrey;
    border-radius: 0;
    font-size: inherit;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color_sobanukirwa_lightgrey;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color_sobanukirwa_lightgrey;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color_sobanukirwa_lightgrey;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color_sobanukirwa_lightgrey;
    }
    &:focus{
        background-color: $color_white;
        color: $color_black;
    }
  }
}

.greeting {
  color: $body-bg;
}
/* Notices, errors */

#notice, #error, .errorExplanation, #request_header_text, #hidden_request, .describe_state_form form, .undescribed_requests {
  border-top: 10px solid;
  font-size: 1.2em;
  border-radius: 0;
  margin:1em 0;
  padding: 1.5em;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom:0;
  }

  ul {
    margin: 0;
  }
}

#notice, #request_header_text {
  background-color: $color_sobanukirwa_darksand;
  border-color: $color_sobanukirwa_darkgreen;
}

#error, .errorExplanation, #hidden_request {
  background-color: $color_sobanukirwa_lightpink;
  border-color: $color_sobanukirwa_darkred;

}

.undescribed_requests {
  background-color: $color_sobanukirwa_paleorange;
  border-color: $color_soubankirwa_mutedorange;
}

/* Logged and local options act like submenus */
#logged_in_bar{
  @include respond-min($main_menu-mobile_menu_cutoff) {
    top: 0;
  }

  a {
    @extend %menu-item;
    background-color: transparent;
    font-weight: normal;
    color: $color_black;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
  #logged_in_links {
    a {
      font-weight: normal;
    }
  }
}

#user_locale_switcher {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    background-image: image-url('locale-switcher.png');
    background-repeat: no-repeat;
    background-position: 0.5em 0.5em;
    background-color: $color_sobanukirwa_darkgrey;
    border-radius: 0 0 1.25em 1.25em;
    font-size: 0.82em;
    padding: 0 1em 0 2.5em;
    right: 15px;
  }
  p, a {
    strong { font-weight: normal; }
    @extend %menu-item;
    font-family: $sans-serif-font-family;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      padding: 0.5em 0.2em;
      background-color: $color_sobanukirwa_darkgrey;
      border-radius: 0 0 1.25em 1.25em;
      color: $color_sobanukirwa_midgrey;
      &:hover{
          background-color: $color_sobanukirwa_darkgrey;
          color: $color_white;
      }
    }
  }
}


#banner {

  /* locale border */
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    border-top: 4px solid $color_sobanukirwa_darkgrey;
  }

  .banner_site-title {
    padding: 1em;
  }

  /* Hide the greeting on smaller devices */
  .greeting {
    display: none;
  }

  .rsp_menu_button{
    position: absolute;
    top: 0;
    /* 15px for margin minus 9 for background offset*/
    right: 4px;
    @extend .image-replacement;
    background-image: image-url('hamburger.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 28px 26px;
    width: 44px;
    height: 38px;
    padding: 0;
    /* Make sure clickable area covers image */
    a {
      width: 100%;
      height: 100%;
    }
  }

  /* Pad evenly top and bottom on smaller devices */
  #logo_wrapper{
    #logo {
      display: block;
    }

    // Mobile logo
    @media(max-width: $main_menu-mobile_menu_cutoff) {
      padding: 0.5em 0 0.5em 0.9375em;

      #logo {
        background-image: image-url('logo-mobile.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 200px 27px;
        height: 30px;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
          background-image: image-url('logo-mobile@2.png');
          background-size: 200px 27px;
        }
      }

      img {
        display: none;
        height: 30px;
      }
    }

    // Desktop logo
    @include respond-min($main_menu-mobile_menu_cutoff) {
      margin-bottom: 0;
    }
}

}

/* Footer */
#footer {
  background-color: $color_sobanukirwa_darkgrey;
  color: $color_sobanukirwa_grey;
  font-family: $sans-serif-font-family;
  font-size: 1em;
  padding: 2em 4em;
  a {
    text-decoration: none;
    color: $color_white;
  }
  h1,h2,h3,h4,h5,h6 {
    color: lighten($color_black, 15%);
  }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }
  ul li {
    text-align: center;
  }

  .footer-logo {
    float: left;
    width: 50%;
  }

  .footer-logo.tumenye {
    margin-top: 25px;
  }
}

/* Public body page */
@media(max-width: $main_menu-mobile_menu_cutoff) {
  #public_body_show {
    #stepwise_make_request {
      .link_button_green {
        height: auto;
      }
    }
  }
}

/* Request page */
div.correspondence {
  background-color: $color_white;
}

.incoming.correspondence {
  border: none;
  border-top: 8px solid $color_sobanukirwa_yellow;
  box-shadow: 0 3px 3px $color_sobanukirwa_lightgrey;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  @include ie8 {
    font-size: 0.9em;
  }
  a.link_to_this {
    background-color: $color_sobanukirwa_yellow;
  }
}

.outgoing.correspondence {
  border: none;
  border-top: 8px solid $color_sobanukirwa_blue;
  box-shadow: 0 3px 3px $color_sobanukirwa_lightgrey;
  a.link_to_this {
    background-color: $color_sobanukirwa_blue;
  }
}

.describe_state_form input[type="radio"] + label {
  display:inline;
}

a.link_to_this {
  background-image: image-url('link-icon.png');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
     background-image:image-url('link-icon@2.png');
  }
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#link_box {
  font-family: $font-family;
  border-radius: 0;
  border: 1px solid $color_black;
  .close-button {
    background-color: $color_white;
    float: right;
  }
}

.describe_state_form {
  padding: 0;

  form{
    background-color: $color_sobanukirwa_paleorange;
    border-color: $color_soubankirwa_mutedorange;
    h2 {
      margin-top: 0;
    }
    hr {
      border-color: $color_soubankirwa_mutedorange;
    }
  }
}

/* Status lines and icons */
.icon_waiting_classification,
.icon_waiting_response,
.icon_waiting_clarification,
.icon_requires_admin,
.icon_waiting_response_overdue,
.icon_gone_postal,
.icon_error_message,
.icon_internal_review,
.icon_user_withdrawn {
  color: $status-pending;
}

.icon_attention_requested,
.icon_not_held,
.icon_waiting_response_very_overdue,
.icon_failed,
.icon_rejected {
  color: $status-failure;
}

.icon_successful,
.icon_partially_successful {
  color: $status-success;
}

/* Attachments*/

.view_html_prefix {
  font-family: $font-family;
  background-color: $color_sobanukirwa_palegrey;
  color: transparentize($color_white, 0.2);
  @include ie8 {
    color: $color_white;
  }
  a {
    color: $color_white;
  }
  .view_html_logo, .view_html_description {
    padding-top: 1em;
  }
}

/* User page */
#user_photo_on_profile {
  img, #set_photo {
    margin-top:0.5em;
  }
}

/* Help pages */

dt {
  color: $color_black;
  font-weight: 700;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    font-size: 2em;
    line-height: 1.1em;
  }
}

/* Front page */
/* Drop the extract indentation on small screens */
#frontpage_examples .excerpt {
    padding: 0.2em 0 0 0;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      padding: 0 0 0 2em;
    }
}

.steps__list li {
  width: 33.3333%;
  margin-left: 0 !important;
}

.steps__step-box {
  background-color: $color_white;
  padding: 2em;
  box-shadow: 0 1px 2px transparentize($color_black, 0.75);
  min-height: 11em;
}

.steps__step-number {
  left: 50%;
  margin-left: -1.75em;
  bottom: -1em;
  top: auto;
  height: 3.5em;
  width: 3.5em;
  background-color: $color_green;
  box-shadow: 0 1px 2px transparentize($color_black, 0.75);
  padding: 1em;
  border-radius: 100%;
  color: $color_white;
  text-align: center;
  position: absolute;
}

.learn-more-foi {
  margin-top: 3em;
}

.learn-more-foi a {
  padding: 0.5em 1.25em;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0;
  color: $color_black;
  background-color: darken($color_sand, 15%);

  &:hover, &:focus {
    background-color: darken($color_sand, 20%);
  }
}

.hero__new-request {
  .new-request__content {
    background-color: $color_black;
    border-radius: 5px;
    padding: 1.8em;
  }

  .new-request__title {
    color: $color_white;
    margin: 0 0 0.5em;
  }

  .new-request__description {
    color: $color_white;

    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }
}

.homepage-hero .new-request__make-new-requests {
  padding: 0.5em 1.25em;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 0;
  color: $color_white;
  background-color: $color_green;
  transition: background-color 300ms ease-out;

   &:hover, &:focus {
    background-color: darken($color_green, 10%);
  }
}

/* Request list page */
#request_list {
  #filter_requests_form {
    label.form_label.title {
      width: auto;
    }
  }
}
