<% @title = "Ubufasha" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Ijambo ry’ibanze</h1>
  <dl>

  <dt id="purpose">Sobanukirwa imaze iki? <a href="#purpose">#</a> </dt>
  <dd>Kugufasha kumenya amakuru y’ibikorwa bya guverinoma y’u Rwanda.
  </dd>

  <dt id="premise">Ese uru rubuga rukora rute? <a href="#premise">#</a> </dt>
  <dd>Uhitamo umuyobozi wifuza kubaza amakuru, hanyuma ukandika mu magambo make ibyo 
  wifuza kumenya. Duhita twoherereza umuyobozi ikibazo cyawe. Igisubizo cyose batanze gihita gishyirwa 
  ku mugaragaro ku rubuga, kugirango ubashe kukibona ndetse n’undi muntu wese ashobora kukibona akanagisoma.
  </dd>

  <dt id="whybother_me">Ni iyihe mpamvu yatuma mfata umwanya wanjye wo gukora ibi? <a href="#whybother_me">#</a> </dt>
  <dd>Wishyura imisoro hanyuma leta igakoresha ayo mafaranga mu bikorwa bitandukanye. Ibintu byose bigira ingaruka ku 
  buzima bwawe, uhereye ku buhinzi ukagera ku mutekano w’igihugu. Hari ibyo ikora neza hari n’ibyo ikora nabi. Uko 
  urushaho kumenya uburyo leta ikora, ni nako urushaho kuba washobora gutanga ibitekerezo ku buryo bwo guhindura ibyo 
  bidakorwa neza, ndetse no gushima ibyo bakora neza.
  </dd>

  <dt id="whybother_them">Ni iyihe mpamvu yatuma umuyobozi afata umwanya we wo gusubiza? <a href="#whybother_them">#</a> </dt>
  <dd>Nk’uko bisabwa n’itegeko rikoreshwa mu Rwanda ry’ubwisanzure bwo kumenya amakuru, bagomba gusubiza. Igisubizo kigomba 
  kuba kirimo amakuru wasabye cyangwa se bakakubwira impamvu isobanurwa n’amategeko ituma ayo makuru agomba kuba ibanga.
  </dd>

  <dt id="who">Ni inde ukora Sobanukirwa? <a href="#who">#</a> </dt>
  <dd>Sobanukirwa yashyizweho kandi ikoreshwa na <a href="https://twitter.com/migishak">Migisha K. Claude</a> ndetse na <a href="https://twitter.com/stephen_abbott">Stephen Abbott Pugh</a>, 
  ku bufatanye na <a href="http://www.odesudi.org/">Open Democracy and Sustainable Development Initiative.</a>
  </dd>

  <dt id="updates">Ni gute nakurikirana ibikorwa bya Sobanukirwa?<a href="#updates">#</a> </dt>
  <dd>Dufite <a href="<%= blog_path %>">urubuga rw’amakuru agezweho</a> n'<a href="https://twitter.com/sobanukirwa">urwungano rwa Twitter.</a>.
  </dd>


  </dl>

  <p><strong>Ibikurikira,</strong>, soma ibijyanye no <a href="<%= help_requesting_path %>">gutanga ibibazo</a> --&gt;

  <div id="hash_link_padding"></div>
</div>
