<% @title = "Kwemeza, mu gihe biri ngombwa" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="credits"><%= @title%></h1>

  <dl>
    <dt id="thanks">Ni inde wakoze Sobanukirwa? <a href="#thanks">#</a> </dt>
    <dd> Sobanukirwa yakozwe na <a href="https://twitter.com/migishak">Migisha K Claude</a> hamwe na <a href="https://twitter.com/stephen_abbott">Stephen Abbott Pugh</a> ku bufatanye n’ikigo 
    <a href="http://www.odesudi.org/">Open Democracy and Sustainable Development Initiative (ODESUDI)</a> mu Rwanda bahawe ubufasha bwa tekinike n’ itsinda rya <a href="https://www.mysociety.org/about/team/">MySociety</a> 
    mu Bwongereza bakoresheje ihuriro ryabo rya <a href="http://alaveteli.org/">open-source Alaveteli platform</a>.
    </dd>

    <dt id="helpus">Nshobora gutanga ubufasha? <a href="#helpus">#</a> </dt>
    <dd>
        <ul>
        <li>Ushobora gufasha kubona ibibazo byasubijwe, no gukurikirana uko abayobozi bakora ubinyujije mu 
        <a href="/categorise/play">gukina umukino wo gushyira ku rutonde abayobozi</a>. </li>
        <li>Kubona imeli aderesi y’ubwosanzure bwo kumenya amakuru <a href="/help/requesting#missing_body">y’abayobozi tudafite</a>.</li>
        <li>Kwandika urubuga rw’amakuru agezweho kuri Sobanukirwa cyangwa ikibazo cyiza wabonye. Bishyire ku rubuga ukunda kujyaho. Bibwire inshuti zawe.</li> 
        <li>Niba ukora imbuga za interineti, ushake source code y’urubuga rwatubyaye, <a href="http://alaveteli.org">Alaveteli</a> hanyuma utubwire ibibazo dushobora kuba twakosora. Ikoze muri Ruby kuri Rails.
        </ul>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
