<% @title = "Credit where credit's due" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="credits"><%= @title%></h1>

  <dl>
    <dt id="thanks">Qui a creé Sobanukirwa? <a href="#thanks">#</a> </dt>
    <dd> Sobanukirwa a été creé par <a href="https://twitter.com/migishak">Migisha K Claude</a> et 
    <a href="https://twitter.com/stephen_abbott">Stephen Abbott Pugh</a> en partenariat avec
    <a href="http://www.odesudi.org/">Open Democracy and Sustainable Development Initiative (ODESUDI)</a> 
    au Rwanda avec l'appui technique de <a href="https://www.mysociety.org/about/team/">MySociety</a> 
    basé en Angleterre en utilisant leur logiciel libre<a href="http://alaveteli.org/">Alaveteli</a>.
    </dd>

    <dt id="helpus">Puis-je aider?<a href="#helpus">#</a> </dt>
    <dd>
        <ul>
        <li>Vous pouvez aider les gens à trouver requêtes repondus, et surveiller le rendement des autorités,en
        <a href="/categorise/play">faisant la catégorisation</a>. </li>
        <li>Découvrez l'e-mail adresse ATI<a href="/help/requesting#missing_body">
        des autorités qui manquant</a>.</li>
        <li>Écrivez un blog sur;Sobanukirwa ou une demande intéressante que vous avez trouvé. 
        Parles-en à vos amis.</li> <li>
        Si vous êtes un programmeur vous pouvez obtenir le code source de notre projet parent, 
        <a href="http://alaveteli.org">Alaveteli</a> 
        et dites nous les correctifs que nous pouvons tirer. Il est fait en Ruby on Rails.
        </ul>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
