<% @title = "Credit where credit's due" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="credits"><%= @title%></h1>

  <dl>
    <dt id="thanks">Who made Sobanukirwa? <a href="#thanks">#</a> </dt>
    <dd> Sobanukirwa was created by <a href="https://twitter.com/migishak">Migisha K Claude</a> and <a href="https://twitter.com/stephen_abbott">Stephen Abbott Pugh</a> in partnership with
    the <a href="http://www.odesudi.org/">Open Democracy and Sustainable Development Initiative (ODESUDI)</a> in Rwanda and with technical support from the <a href="https://www.mysociety.org/about/team/">MySociety team</a> 
    in the UK using their <a href="http://alaveteli.org/">open-source Alaveteli platform</a>.
    </dd>

    <dt id="helpus">Can I help out? <a href="#helpus">#</a> </dt>
    <dd>
        <ul>
        <li>You can help people find successful requests, and monitor performance of authorities, by 
        <a href="/categorise/play">playing the categorisation game</a>. </li>
        <li>Find out ATI email addresses of <a href="/help/requesting#missing_body">authorities that we're missing</a>.</li>
        <li>Write a blog post about either Sobanukirwa or an interesting request that you've
        found. Post about it on a forum that you frequent. Tell friends about it.</li> <li>If you're
        a programmer, get the source code for our parent project, <a href="http://alaveteli.org">Alaveteli</a>
        and tell us about patches we can pull. It's made in Ruby on Rails.
        </ul>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>


